.App {
  text-align: center;

}

body {
  /* margin: 0;
  padding: 0; */
  background-image: url('https://wallpaperaccess.com/full/1463492.jpg');
  /* background-color: #fde68a; */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Optional, for a fixed background */
}